<html>

<head>
    <title>Web renderer</title>
    <link rel="stylesheet" media="screen" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
</head>

<body>
    <div class="container">
        {% block content %}
        <form action="" method="post" name="post" enctype="multipart/form-data">
            <div class="row">
                <div class="col-md-12 m-3">
                    <h1 class="margin-bottom" align=center>Web renderer</h1>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <input type="file" class="form-control m-1" id="template" name="template" />
                        <textarea class="form-control m-1" id="json_data" name="json_data" type="text" rows="10" placeholder="Add data_json."></textarea>
                        <div class="form-check m-2">
                            <input type="checkbox" class="form-check-input" id="include_attachments" name="include_attachments" value="true" checked>
                            <label class="form-check-label" for="include_attachments">Include attachments </label>
                        </div>
                        <div class="form-check m-2">
                            <input type="checkbox" class="form-check-input" id="hide_empty_fields" name="hide_empty_fields" checked>
                            <label class="form-check-label" for="hide_empty_fields">Hide empty fields</label>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <input type="submit" id="submit" name="submit" class="btn btn-outline-dark m-1" style="width: 100%;" value="Render to pdf">
                                <input type="submit" id="display_template_form" name="display_template_form" class="btn btn-outline-dark m-1" style="width: 100%;" value="Display template html form">
                            </div>
                            <div class="col-md-6">
                                <input type="submit" id="get_template_json_schema" name="get_template_json_schema" class="btn btn-outline-dark m-1" style="width: 100%;" value="Get template json schema">
                                <input type="submit" id="get_template_tag_schema" name="get_template_tag_schema" class="btn btn-outline-dark m-1" style="width: 100%;" value="Get template tag schema">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
        {% endblock %}
    </div>
</body>
<script>
    $(document).ready(function() {
                $('#template').change(function() {
                    var i = $(this).prev('label').clone();
                    var file = $('template')[0].files[0].name;
                    $(this).prev('label').text(file);
                });
            }
</script>

</html>